$primary-color: lightblue;
$dark-color: rgb(11, 11, 73);
$light-color: white;
$danger-color: darkred;
$success-color: lightgreen;
$max-width: 1100px;

// Set Background and text color
@function set-text-color($color) {
    @if lightness($color) > 60 {
        @return #333;
    } @else {
        @return #fff;
    }
}
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}

// Margin & Padding
$spaceamount: (1, 2, 3, 4, 5);

@each $space in $spaceamount {
    // All around margin
    .m-#{$space} {
        margin: #{$space}rem;
    }
    // Vertical margin
    .my-#{$space} {
        margin: #{$space}rem 0;
    }
    // All around padding
    .mp-#{$space} {
        padding: #{$space}rem;
    }
    // Vertical padding
    .mpy-#{$space} {
        padding: #{$space}rem 0;
    }
}
